{% load static %}
<div class="col-md-3 aside mr-1 mb-3">
    <div class="text-break text-center border rounded apply-ad"><a class="text-center btn btn-success mt-2" href="#">Apply Now</a>
        <ul class="text-break text-left ad-list" style="font-size: 20px;font-family: algerian;filter: blur(0px) contrast(200%);">
            <li>Regular Orders</li>
            <li>Flexible Schedule</li>
            <li>Payment Twice Monthly</li>
            <li>competetive CPP</li>
            <li>Growth Opportunities</li>
        </ul>
    </div>
</div>
