{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body style="background-color: black;background-size: cover;background-repeat: no-repeat;background-position: center;"><!-- background-image: url({% static 'img/linedpaper.png' %}); -->
{% block wrapper %}

{% endblock %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <!--<script id="bs-live-reload" data-sseport="46775" data-lastchange="1595964112899" src="{% static 'js/livereload.js' %}"></script>-->
</body>
</html>